<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Listado de tareas</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Num tarea</th>
              <th>Tarea</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track $index) {
            <tr>
              <td>{{ user.codigo }}</td>
              <td>{{ user.tarea }}</td>
              <td>{{ user.descripcion }}</td>
              <td>
                <button (click)="onDelete(user.codigo)" class="btn btn-danger">
                  Borrar
                </button>
              </td>
              <td><input type="checkbox" (change)="selectRow($index)" /></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
